<div>
  <div class="sidenav">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/passDataFromParentToChild" routerLinkActive="active">Pass Data from P to C</a>
    <a routerLink="/intercepDataInChild" routerLinkActive="active">Intercept Data in Child</a>
    <a routerLink="/interceptNgOnChanges" routerLinkActive="active">Intercept with ngOnChanges</a>
    <a routerLink="/parentListensForChildEvent" routerLinkActive="active">Parent Listens To Child Event</a>
    <a routerLink="/parentListensForChildEvent" routerLinkActive="active">Parent Listens To Child Event</a>
    <a routerLink="/parentChildInternWithViewChild" routerLinkActive="active">ParentChildInterWithViewChild</a>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
