<div>
  <h5>Single Check box - Example</h5>
  <form #f="ngForm">
    <div class="form-group">
        <input type="checkbox" name="rememberLogin" [(ngModel)]="rememberLogin">Remember Login
    </div>
    <p>Form value: {{ f.value | json }}</p>
  </form>
</div>

<div style="margin-top: 50px;">
  <h5>Multiple Check box - Example</h5>
  <form #f2="ngForm">
    <div *ngFor="let category of categories;">
      <input type="checkbox"
      [ngModelOptions]="{standalone: true}"
      [(ngModel)]="category.selected"/> {{category.title}}
    </div>
    <p>Form value: {{ selected | json }}</p>
  </form>
</div>
