<div [hidden]="submitted">
  <h3>Hero Form</h3>
  <form #heroForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
        required
        minlength="4"
        appForbiddenName="bob"
        [(ngModel)]="hero.name" name="name"
        #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger">
        <div *ngIf="name.errors['required']">
          Name is required
        </div>
        <div *ngIf="name.errors['minlength']">
          Name must be atleast four characters long
        </div>
        <div *ngIf="name.errors['forbiddenName']">
          Name cannot be Bob
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" id="power"
        required
        [(ngModel)]="hero.power" name="power"
        #power="ngModel">
        <option *ngFor="let pw of powers" [value]="pw">{{pw}}</option>
      </select>
      <div [hidden]="power.valid || power.pristine"
        class="alert alert-danger">
        Power is required
      </div>
    </div>
    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo"
        [(ngModel)]="hero.alterEgo" name="alterEgo">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!heroForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New</button>
  </form>
  <div class="info-panel">
      <p>Name via form.controls = {{ showFormControls(heroForm) }}</p>
      <p>Form: {{ heroForm.value | json }}</p>
      <p>Form status: {{ heroForm.control.status }}</p>
  </div>
</div>
<div class="info-panel">
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ hero.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9 pull-left">{{ hero.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9 pull-left">{{ hero.power }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
